.barGrid {
	float:left;
	width:32.9%;
	padding-bottom:10px;
}

.row {
	margin-bottom:20px; 
}

.row:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

@media (max-width: 750px) {

.barGrid {
	width:49.9%;
	margin:0;
}

}


@media (max-width: 450px) {
	.barGrid {
		width:100%;
		margin:0;
	}

}