

.tipster {
  position: absolute!important;
  width: 200px;
  pointer-events: none;
  background-color: white;
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  line-height: 1.1rem;
  font-size: 0.9rem;
}