@import "charts";
@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

figure {
	margin: 0;
}

.interactive-wrapper {
    margin: 0 !important;

#graphicContainer {
	position:relative;
	max-width: 1200px;
}

}
