@import "tooltip";

	#sonic {
		width:25px;
		height:25px;
		text-align: center;
		background-color:red;
		color: white;
		font-size:11px;
		border-radius:50%;
		// float:left;
		display: inline-block;
		margin-right: 10px;
		background-image: url('https://interactive.guim.co.uk/embed/aus/graphics/sonification/audio.svg');
		background-size: 90%;
		bacground-position: center middle;
	}