@import "tooltip";

.barGrid {
  float: left;
  width: 32.9%;
  padding-bottom: 15px;
}

.row {
  margin-bottom: 20px;
}

.row:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media (max-width: 750px) {
  .barGrid {
    width: 49.9%;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .barGrid {
    width: 100%;
    margin: 0;
  }
}

.smallMultiples {
  .btn {
    background-color: #c70000;
    border-radius: 62.5rem;
    border: none;
    display: inline-block;
    outline: 0;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial,
      "Lucida Grande", sans-serif;
    color: #fff;
    padding: 4px 10px;
    margin: 1px 1px;
    text-align: right;
    cursor: pointer;
  }
}
