#outer-wrapper {
.grandparent text {
  // font-weight: bold;
}

text {
  text-shadow: 0px 0px 3px white;
}

rect.children text {
  text-shadow: 0px 0px 3px white;
}

rect {
  stroke: #fff;
}

tspan {
  pointer-events: none;
}

rect.parent,
.grandparent rect {
  stroke-width: 3px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
  fill: lightgrey;
}

.grandparent:hover rect {
  fill: gold;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill-opacity: 0;
}
}
