<div id="outer-wrapper" class="showcase">

	<div class='chartTitle' id="chartTitle">{{title}}</div>
	<div class='subTitle' id="subTitle">{{standfirst}}</div>
	<div class='chartNotes' id='chartKey'></div>

	<div class="slider-container">
		<div class="year-container">
			Year: <span id="yearText"></span> 
		</div>

		<div id="slider-container"><span class="btn" id="play-pause">pause</span><div id="slider"></div></div>	
	
	</div>

	
	<div class="borderBottom chartSans" id="graphicContainer"></div>

	<div class='footer offset'>

		<div id="footerAnnotations">{{footnotes}}</div>	
		
		<span id="footnote"></span> Guardian graphic | Source: <span id="sourceText">{{source}}</span>
		
	</div>
	
</div>