<div id="outer-wrapper" class="showcase">

	<div class='chartTitle' id="chartTitle">{{title}}</div>
	<div class='subTitle' id="subTitle">{{standfirst}}</div>
	<div class='chartNotes' id='chartKey'></div>

	<link rel="stylesheet" href="embed.css">

	<div class="borderBottom chartSans" id="graphicContainer"></div>

	<div class='footer offset'>

		<div id="footerAnnotations">{{footnotes}}</div>

		<span id="footnote"></span> Guardian graphic | Source: <span id="sourceText">{{source}}</span>

	</div>

</div>
